.hdr-pdd-x {
  padding-right: 3rem;
  padding-left: 3rem;
}

.tela-inteira {
  height: 100vh;
}

.disp-flex {
  display: flex;
}

.disp-inline {
  display: inline;
}

.disp-block {
  display: block;
}

.hdr-pdd-y {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.alinha-main {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.txt-meio {
  text-align: center;
}

.inside-box-g {
  padding: 10%;
}

.inside-box-m {
  padding: 5%;
}

.inside-box-p {
  padding: 2%;
}

.padd-left-p {
  padding-left: 1em;
}

.altura-icon-lixo {
  height: 20px;
}

.padd-right-m-2 {
  padding-right: 10em;
}

.padd-rt-m {
  padding-right: 3em;
  padding-top: 3em;
}

.padd-bot-p {
  padding-bottom: 1em;
}

.padd-bot-m {
  padding-bottom: 3em;
}

.pdd-lr-p {
  padding-left: 1em;
  padding-right: 1em;
}

.pdd-lr-m {
  padding-left: 3em;
  padding-right: 3em;
}

.itens-centro {
  display: flex;
  align-items: center;
}

.hdr-spc {
  height: 72px;
}

.hdr-mg-bot {
  margin-bottom: 1em;
}

/* MEDIA */
@media (max-width: 767px) {
  #contato {
    display: block;
  }
}

@media (max-width: 707px) {
  .hdr-pdd-y {
    padding-top: 0;
    padding-bottom: 0;
  }

  .hdr-spn {
    margin-top: 0.4em;
  }

  .hdr-spc {
    height: 113px;
  }
  
}

@media (max-width: 611px) {
  .hdr-pdd-x {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (max-width: 562px) {
  .alinha-main {
    display: flex;
    flex-wrap: wrap-reverse;
  }

  .tela-inteira {
    height: auto;
  }

  .pdd-td-p {
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .txt-dstk {
    margin-bottom: 0;
  }
}

@media (max-width: 445px) {
  .nav-link {
    --bs-nav-link-padding-x: 0.5em;
  }
}

@media (max-width: 365px) {
  body {
    --bs-body-font-size: 13px;
  }

  .hdr-spc {
    height: 105.5px;
  }
}