html {
  background-color: #1b1e23;
  max-width: 1440px;
  margin: auto;
}

.conteudoEscondido {
  display: none;
}

.mrg-td-p {
  margin-top: 2em;
  margin-bottom: 2em;
}

.scale-anim-icon:active {
  transform: scale(0.57);
}

.del-anim {
  height: 0;
  transition: 1s;
}

@media (max-width: 544px) {
  #texto-deletar {
    font-size: 0;
  }

  #texto-atualizar {
    font-size: 0;
  }

  .pdd-lr-m {
    padding-left: 1em;
    padding-right: 1em;
  }
}

@media (max-width: 365px) {
  .txt-dstk-m {
    font-size: 30px!important;
  }
}