@charset "UTF-8";

.txt-dstk {
    font-size: 150px;
}

.txt-dstk-m {
    text-align: center;
}

.n-decoracao {
    text-decoration: none;
}

.bg-IA {
    height: 90vh;
    background-image: url("../imgs/IABackground.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
}

.bg-IA-2 {
    background-image: url("../imgs/IABackground2.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.bg-grafo {
    background-image: url("../imgs/grafo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left bottom;
}

.bg-python {
    background-image: url("../imgs/python.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.bg-R {
    background-image: url(../imgs/calculo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.scale-anim-2 {
    transition: 0.3s;
}

.scale-anim-2:hover {
    transform: scale(0.97);
    transition: 0.3s;
}

.scale-anim-2:active {
    transform: scale(0.87);
    transition: 0.3s;
}

@media (max-width: 970px) {
    .txt-dstk {
      font-size: 100px;
    }
}

@media (max-width: 767px) {
    .hdr-pdd-x {
        padding-left: 7rem;
        padding-right: 7rem;
    }

    .hdr-pdd-y {
        padding-top: 0;
        padding-bottom: 0;
    }

    .hdr-mg-bot {
        margin-bottom: 0;
    }

    .hdr-spn {
        margin-top: 0.4em;
    }

    .hdr-spc {
        height: 97px;
    }
}

@media (max-width: 616px) {
    .hdr-pdd-x {
        padding-left: 5rem;
        padding-right: 5rem;
    }
}

@media (max-width: 562px) {
    .txt-dstk {
        font-size: 70px;
    }
}

@media (max-width: 551px) {
    .hdr-pdd-x {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media (max-width: 455px) {
    .hdr-pdd-x {
        padding-left: 0rem;
        padding-right: 0rem;
    }
}

@media (max-width: 438px) {
    .txt-dstk {
        font-size: 50px;
    }
}

@media (max-width: 365px) {
    .hdr-spc {
        height: 92.5px;
    }
}