@charset "UTF-8";

body {
  background-color: #1b1e23;
}

/*Cores e fontes*/
.textoDestaque {
  color: #d8c277;
  text-decoration: none;
}

.texto {
  color: #cdb88d;
}

.link {
  color: #f7f7f6;
}

.backClaro {
  background-color: #f7f7f6;
}

.backEscuro {
  background-color: #1b1e23;
}

/*Ajuste de página*/
* {
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  margin-top: 1em;
}

header > h1 {
  flex-grow: 1;
}

.navEspaco {
  margin: 0 0.5em;
}

.flexEspaco {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.flexEspaco02 {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.responsivePadding {
  padding: 0 1em;
}

.topBotEspaco {
  padding-top: 3em;
  padding-bottom: 3em;
}

.descricaoEspaco {
  padding-left: 4em;
  padding-right: 4em;
}

.pEspaco {
  padding-bottom: 1em;
}

.textoMeio {
  text-align: center;
}

.caixaCentrada {
  width: 30%;
  height: 10em;
  border-radius: 7px;
  padding-left: 1em;
  padding-right: 1em;
}

.imgEmCaixa {
  margin: auto;
  display: block;
}