@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;1,100&display=swap');

body {
  background-color: #1b1e23;
  font-family: Helvetica, Arial, sans-serif;
  margin: auto;
  max-width: 1440px;
  min-width: 300px;
}

/*Cores e fontes*/
header {
  font-family: Helvetica, Arial, sans-serif;
  font-size: small;
}

header > h1:hover, a:hover {
  color: #f7f7f6;
  transition-duration: 0.5s;
}

abbr:hover {
  color: #d8c277;
  transition-duration: 0.5s;
}

.textoDestaque {
  color: #d8c277;
  text-decoration: none;
}

.fontDestaque {
  font-family: Raleway;
  font-size: 100px;
  font-weight: lighter;
}

.texto {
  color: #cdb88d;
}

.fontDestaqueMenor {
  font-family: Raleway;
  font-size: Thin;
  font-style: italic;
  font-size: 20px;
}

.fontLeitura {
  font-family: Raleway;
  font-weight: bold;
  font-size: xx-large;
  word-spacing: 7px;
}

.fontLeituraMenor {
  font-weight: normal;
}

.link {
  color: #f7f7f6;
}

.link:hover {
  color: #cdb88d;
  transition-duration: 0.5s;
}

.caixaSombreada {
  box-shadow: rgba(0, 0, 0, 0.993) 0px 5px 15px;
}

.backClaro {
  background-color: #f7f7f6;
}

.backEscuro {
  background-color: #1b1e23;
}

/*Ajuste de página*/
* {
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  margin-top: 1em;
  cursor: pointer;
}

header > h1 {
  flex-grow: 1;
}

.vpTotal{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.navEspaco {
  margin: 0 0.5em;
}

.flexEspaco {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.flexEspaco02 {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.responsivePadding {
  padding: 0 1em;
}

.topBotEspaco {
  padding-top: 3em;
  padding-bottom: 3em;
}

.descricaoEspaco {
  padding-left: 4em;
  padding-right: 4em;
}

.pEspaco {
  padding-bottom: 1em;
}

.textoMeio {
  text-align: center;
}

.caixaCentrada {
  width: 30%;
  height: 12em;
  border-radius: 3px;
  padding-left: 1em;
  padding-right: 1em;
}

.imgEmCaixa {
  margin: 1em auto;
  display: block;
}